/* Signup.css */
.logo-container {
    flex: 1;

}

.logo {
    width: 150px; /* Adjust size as needed */
    height: auto;
}

.signup-form-container {
    flex: 2;
    max-width: 500px; /* Adjust size as needed */
    margin: 0 auto;

}
